.app {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 5000;
  background-color: rgb(3, 3, 3);
  --webkit-mask-image: --webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  opacity: .7;
}

.title {
  color: red;
  margin: 0;
  text-transform: uppercase;
  margin: 0 15px;
}

a {
  text-decoration: none;
}

