.lis {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  transition: all .5s cubic-bezier();
}

.lis:hover {
  opacity: .8;
}

.img {
  height: 345px;
  width: 230px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.vote {
  position: absolute;
  right: 4px;
  color: rgb(187, 17, 45);
  font-size: 44px;
  background-color: white;
  opacity: .3;
}



@media (max-width: 560px) {
  .cardDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .img {
    width: 80%;
    min-width: 340px;
    height: 509px;
  }

  .vote {
    right: 76px;
  }
  
}