.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.principal {
  width: 100%;
}

.title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 175px;
}

@media (max-width: 1200px) {
  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
  }
}

@media (max-width: 900px) {
  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 125px;
  }
}

@media (max-width: 560px) {
  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
  }
}